:root {
  /*** Background Color Variable ***/
  --primary-bg-color: #1d2101;
  /*** Text Color Variable ***/
  --primary-text-color: #ffffff;
  --hover-link-color: #dcdcdc;
}
/*** General Styles ***/
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Sintony", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.transition-03s-on {
  transition: all 0.3s ease-in-out;
}
/*** Header Styles ***/
.header-wrapper .top-bar {
  background-color: rgba(0,0,0,0.05);
  border-bottom: solid 1px rgba(0,0,0,0.1);
}
.header-wrapper .top-bar .nav {
  font-size: 0.875rem;
}
.header-wrapper .top-bar .nav .nav-link:hover {
  color: var(--hover-link-color) !important;
}
.header-wrapper .top-bar .col-md-6 {
  font-size: 0.75rem;
  letter-spacing: 3px;
}
.header-wrapper .top-bar .nav .modal .modal-content {
  background-color: var(--primary-bg-color);
}
.header-wrapper .top-bar .nav .modal .btn-close {
  filter: invert(1) grayscale(100%) brightness(200%);
}
.header-wrapper .nav-wrapper {
  background-color: rgb(from var(--primary-bg-color) r g b / 65%);
}
.header-wrapper .nav-wrapper.active {
  background-color: rgb(from var(--primary-bg-color) r g b / 100%);
}
.header-wrapper .logo-wrapper .logo img, .footer-wrapper .brand .logo img {
  width: 150px;
  height: auto;
}
.header-wrapper .mobile-menu {
  background-color: var(--primary-bg-color);
}
.header-wrapper .mobile-menu .nav-link, .header-wrapper .mobile-menu .btn {
  letter-spacing: 3px;
}
.header-wrapper .mobile-menu .nav-link.active {
  font-weight: 700;
}
.header-wrapper .nav-desktop .nav-link {
  position: relative;
  font-size: 1rem;
  letter-spacing: 1px;
}
.header-wrapper .nav-desktop .nav-link::after, .header-wrapper .nav-desktop .nav-link.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 16px;
  height: 1px;
  width: 0;
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
}
.header-wrapper .nav-desktop .nav-link:hover::after, .header-wrapper .nav-desktop .nav-link.active::after {
  width: calc(100% - 32px);
}
.header-wrapper .nav-desktop .nav-item:last-child .nav-link:hover::after {
  width: calc(100% - 16px);
}
.header-wrapper .nav-wrapper.active .nav-desktop .nav-link::after {
  bottom: -12.5px;
  height: 3px;
}
/*** Carousel Styles ***/
.main-carousel-wrapper {
  margin-top: -58.2px;
}
.main-carousel-wrapper .carousel-inner, .main-carousel-wrapper .carousel-item > img {
  height: 100%;
  min-height: 80vh;
  max-height: 80vh;
}
/*** Footer Styles ***/
.footer-wrapper, .footer-wrapper .form-control, .footer-wrapper .btn {
  font-size: 0.875rem;
}
.footer-wrapper, .footer-wrapper .brand, .footer-wrapper .copyright-and-legal {
  background-color: rgba(0,0,0,0.05);
}
.footer-wrapper .form-control, .footer-wrapper .form-control::placeholder {
  color: var(--primary-text-color);
}
.footer-wrapper .form-control {
  background-color: transparent;
  border-color: rgba(255,255,255,0.3);
}
.footer-wrapper .form-check-label, .footer-wrapper .copyright-and-legal {
  font-size: 0.75rem;
}
@media screen and (min-width: 768px) {
  .header-wrapper .logo-wrapper .logo img {
    width: 200px;
  }
  .header-wrapper .nav-wrapper.active .logo-wrapper .logo img {
    width: 180px;
  }
  .header-wrapper .nav-wrapper.active .row {
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important;
  }
  .main-carousel-wrapper {
    margin-top: -77.24px;
  }
}