body {
    font-family: Arial, sans-serif;
    background-color: #000; /* Fondo negro */
    color: #fff;
}

.carousel {
    position: relative;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-item img {
    width: 100%;
    display: block;
}

.carousel-control-prev {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 15px;
    cursor: pointer;
    transform: translateY(-50%);
    font-size: 10px;
}

.carousel-control-next {
    position: absolute;
    top: 50%;
    right: 0%;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 15px;
    cursor: pointer;
    transform: translateY(-50%);
    font-size: 10px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}