body {
    font-family: Arial, sans-serif;
    background-color: #000; /* Fondo negro */
    color: #fff;
}

#carousel {
    position: relative;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-item img {
    width: 100%;
    display: block;
}

.carousel-control-prev {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 15px;
    cursor: pointer;
    transform: translateY(-50%);
    font-size: 10px;
}

.carousel-control-next {
    position: absolute;
    top: 50%;
    right: 0%;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 15px;
    cursor: pointer;
    transform: translateY(-50%);
    font-size: 10px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.3);
    padding: 15px;
    border-radius: 10px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    text-align: center;
}

.carousel-caption h5,
.carousel-caption p {
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.carousel-caption p {
    font-size: 18px;
    margin-top: 10px;
}

.contactar{
    background-color: rgb(0, 106, 30);
    color: black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 25px;
    border: solid rgba(1, 146, 42, 0.433);
}

#contacto:hover{
    cursor: pointer;
    background-color: rgb(2, 158, 46);
}